<div class="container">
  <div class="row justify-content-center">
   <div class="col-10">
     <br>
     <div>
     <div class="float-left">
       <input type="search" class="form-control" placeholder="Type to search..">
     </div>     
     <div class="btn btn-primary float-right" (click)="addProduct()">Add Product</div>
    </div>
     <br><br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <input type="checkbox" class="form-control">    
          </th>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
   </div> 
  </div>
</div>